// Normalize everything!
@import "normalize.scss/normalize";

// Web Fonts!
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

// accent = F1E3D5

body {
	background-color: #FBF6F4;
	color: #444;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

header {
	margin: 0.2em;
	padding: 0 auto 0 auto;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	h1, h2 {
		margin: 0;
	}
	h2 {
		font-size: 1em;
	}
}

span.mirror {
	-moz-transform: scaleX(-1); /* Gecko */
	-o-transform: scaleX(-1); /* Operah */
	-webkit-transform: scaleX(-1); /* webkit */
	transform: scaleX(-1); /* standard */
	filter: FlipH; /* IE 6/7/8 */

	display: inline-block;
}

div#haahwaaw {
	width: 100%;
	max-width: 978px;
	margin: 0 auto;

	.options {
		width: 303px;
		height: 30px;
		border: solid 1px black;
		border-bottom: none;
		margin: 2em auto 0 auto;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				height: 30px;
				width: 100px;
				display: block;
				float: left;
				line-height: 30px;
				text-align: center;

				border-right: solid 1px black;

				transition: all .2s ease-in-out;

				&:last-child
				{
					border-right: none;
				}

				&.active
				{
					font-weight: bold;
				}

				&:hover
				{
					background-color: #F1E3D5;
				}

			}
		}
	}

	.uploader {
		background-color: #FBF6F4;
		z-index: 15;
		position: relative;
		border: solid 1px black;
		height: 325px;
		margin: 2em 0 0 0;

		input[type=file] {
			display: none;
		}

		.prompt, .confirm {
			width: 50%;
			text-align: center;
			font-size: 1.5em;
			margin: 0 auto;
		}

		.prompt {
			position: relative;
			top: 50%;
			height: 3em;
			margin: -1.5em auto 0 auto;
		}

		.confirm {
			margin: 1em auto 0 auto;
			img {
				margin: 0 auto;
				width: auto;
				height: 250px;
			}
			span {
				display: block;
			}
		}


	}

	.confirm.hidden, .prompt.hidden, .pictureframe.hidden, .options.hidden {
		display: none;
	}

	.uploader_confirm {
		z-index: 14;
		position: relative;
		width: 202px;
		height: 30px;
		border: solid 1px black;
		border-top: none;
		margin: 0 auto;

		transition: margin-top .2s ease-in-out;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				height: 30px;
				width: 100px;
				display: block;
				float: left;
				line-height: 30px;
				text-align: center;

				border-right: solid 1px black;

				transition: all .2s ease-in-out;

				&:last-child
				{
					border-right: none;
				}

				&.active
				{
					font-weight: bold;
				}
				&:hover
				{
					background-color: #F1E3D5;
				}

			}
		}
	}

	.uploader_confirm.hidden {
		margin-top: -31px;
	}

	.pictureframe {
		border: solid 1px black;
	}

	canvas {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
}